Evaluation {
    width: 50%;
    background: black 0%;
}

TextArea {
    width: 49%;
    border: none;
    padding: 0;
    background: black 0%;
}

Rule {
    background: black 0%;
}

Coat {
    padding: 5;
    background: black 0%;
}
